@font-face {
    font-family: Sora-Regular;
    src : url(/fonts/Sora-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Sora-Medium;
    src : url(/fonts/Sora-Medium.ttf) format('truetype');
}
@font-face {
    font-family: Sora-Bold;
    src : url(/fonts/Sora-Bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Sora-Regular;
    font-weight: 300;
    direction: ltr;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.navbar{
    font-size: 12px;
    background-color: white;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    box-shadow: 0 0.05em 0.5em rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
    z-index: -1;
    flex: 1 0 100%;
    order: 2;
    display: flex;
    text-decoration: none;
    position: fix;
    justify-content: space-between;
}

.logo{
    display: flex;
    padding-top: 10px;
    margin-right: 1.5rem;
}


.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    justify-content: flex-end;
    margin-top: 1.25rem;
    margin-right: 1rem;
}



nav ul li a{
   opacity: .7;
   color:#373737;
   font-family: Sora-Regular;
   font-size: 17px;
   padding: 10px 13px;
   border-radius: 3px;
   transition: 0.3s ease;
}

a:hover {
    opacity: 1;
}


input[type=checkbox]{
    display: none;
}
.hamburger {
    display: none;
    font-size: 30px;
    user-select: none;
    margin-top: 0.6rem;
}

@media (max-width: 650px) {
    .menu { 
     display:none;
     position: absolute;
     background-color:white;
     right: 0;
     left: 0;
     text-align: center;
     margin: 1.1rem 0px;
     
    }

    .menu li:hover {
     display: inline-block;
     width: 30%;
     background-color:#65b4ff;
     transition: 0.3s ease;
     padding: 3px;
    }

    .nav-item:hover {
        color: white;
    }

    .menu li + li {
     margin-top: 20px;
    }

    input[type=checkbox]:checked ~ .menu{
     display: block;
    }

    .hamburger {
     display: block;
    }
    
}

.slides1 {
    position: relative;
    top: 50px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.slides {
    margin: 0 20px;
    display: none;
    height: 2rem;
}